.topbar{
    width: 100%;
    background-color: black;
    padding: 24px 36px 12px;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
  }
  
  .topbar > img{
    width: 85px;
  }